@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    MVC Demo Home Page

    <div>
        <button onclick="ajaxCall()">
            AJAX Call
        </button>
    </div>

    <div id="ajax">

    </div>

</div>