<section id="view" class="section">
    <h2 class="title is-primary has-text-centered">Settings</h2>

    <div class="container">
        <h3 class="subtitle">
            Theme Color
        </h3>

        <div class="menu">
            <ul class="menu-list">
                <li>
                    <label class="">
                        <input class="" name="themeColor" type="radio" value="Dark" v-model="themeColor" /> Dark</label>
                </li>
                <li>
                    <label class="">
                        <input class="" name="themeColor" type="radio" value="Blue" v-model="themeColor" /> Blue</label>
                </li>
                <li>
                    <label class="">
                        <input class="" name="themeColor" type="radio" value="Green" v-model="themeColor" /> Green</label>
                </li>
            </ul>
        </div>

        <div class="container">
            <button class="button is-success" v-bind:disabled="isDisabled">
                Save
            </button>
        </div>


    </div>
</section>