<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>

    <link rel="stylesheet" href="login.css" />
    <script src="login.js"></script>
</head>
<body>
    <nav>
        <a href="../../index.html">Home</a>
    </nav>

    <main>
        <h2> Login </h2>  
        
        <!-- User input section -->
        <p>
            <input type="username" placeholder="username" tabindex="1" />
            <br />
            <br />
            <input type="password" placeholder="password" tabindex="2" />
        </p>
    
        <!-- Submit the login request -->
        <p>
            <button tabindex="3" onclick="login()" >Submit</button>
        </p>

        <!-- User feedback section -->

        <p id="error">
            Login error
        </p>

        <p id="success">
            Login success
        </p>
    </main>
    

    <script src="login.body.js"></script>
</body>
</html>